/* Please give the h1 some padding on two sides and zero on others, margin on the sides with no padding, thin purple border on sides without margin, gold background but the gold must be the exact color from the hufflepuff crest */
h1{
  padding: 0 2em;
  margin: 2em 0;
  border-left: solid purple 1px;
  border-right: solid purple 1px;
  background: rgba(191, 264, 121);
}
/* Please give the h2 significant padding on the left and right, a red border on the left and right but the red must be the same from the mighty morphin power rangers logo, and an orange background, and the roboto font */
h2{
  padding: 0 4em;
  border-left: solid rgba(211, 44, 40) 1px;
  border-right: solid rgba(211, 44, 40) 1px;
  background: orange;
  font-family: roboto;
}
/* Please give the section a thick magenta border on the left, 100px of padding on the top and bottom, and 200px of margin on every side without padding or border */
section{
  border-left: solid magenta 1px;
  padding: 100px 0;
  margin-right: 200px;
}
/* Please make the spans have thin Dodger Blue borders, padding on the bottom and right, and light red background */
span{
  border: solid rgba(30, 86, 145) 1px;
  padding: 0 2em 2em 0;
  background: pink;
}
