/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h2{
  background: green;
  height: 5em;
  width: 5em;
  color: white;
  font-size: 2em;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
